<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/">Calorie tracker</a>
  </nav>
</header>
<main class="container-fluid">
  <div class="row my-4">
    <h3 class="col-6">Total calories: {{getTotalCalories()}} </h3>
    <button type="button" class="btn btn-info" routerLink="/add-meal">Add Meal</button>
  </div>
  <router-outlet></router-outlet>
</main>

