<div class="row mt-2">
  <div class="col-4 " *ngIf="!isFetching; else loading">
    <div class="card" *ngFor="let meal of meals">
      <div class="card-header">{{ meal.mealtime }}</div>
      <div class="card-body">
        <h5 class="card-title">{{ meal.mealName }}</h5>
        <p class="card-text font-weight-bold">{{ meal.calories }} kcal</p>
        <a class="btn btn-success mr-2" routerLink="{{meal.id}}/edit-meal">Edit</a>
        <button class="btn btn-danger" (click)="onRemove(meal.id)">Delete</button>
      </div>
    </div>
  </div>
  <ng-template #loading>
      <span class="spinner-border">
        <span class="sr-only">Loading...</span>
      </span>
  </ng-template>
</div>
