<div class="row mt-2">
  <div class="col-3">
    <h4>{{ isEdit ? 'Edit meal' : 'Add meal'}}</h4>
    <form (ngSubmit)="saveMeal()" #f="ngForm">
      <div class="form-group">
        <label for="mealtime">Mealtime:</label>
        <select id="mealtime" name="mealtime" class="form-control" ngModel>
          <option>Breakfast</option>
          <option>Snack</option>
          <option>Lunch</option>
          <option>Dinner</option>
        </select>
      </div>
      <div class="form-group">
        <label for="mealName">Meal name:</label>
        <input type="text" id="mealName" name="mealName" class="form-control" ngModel>
      </div>
      <div class="form-group">
        <label for="calories">Calories:</label>
        <input type="number" id="calories" name="calories" class="form-control" ngModel>
      </div>
      <button type="submit" class="btn-lg btn-dark">
        <span>{{ isEdit ? 'Edit' : 'ADD'}}</span>
      </button>
    </form>
  </div>
</div>
